footer{
background-color: #4D433F !important;
align-items: center;
display: flex;
h2{
margin-left: 3%;
padding-top: -10px;
color: white;
}
.terms{
margin-left:20%;
color: #B8551F;

}
.social{
display:flex;
margin-left: 22%;
box-sizing: border-box;
color:aliceblue;
.fb{
color: #FE6000;

}
}

}