// Place all the styles related to the vehicles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@mixin category_name{
position: relative;
bottom:280px;
margin-left: 10%;
color: white;
font-size: 25px;
text-decoration: underline;
text-decoration-color: #F2F11A;
font-weight: bold;
}

@mixin car_name{
position: relative;
bottom: 70px;
margin-left: 10%;
color: white;
font-size: 20px;
}
@mixin car_category{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}
@mixin detail{
width: 360px;
background-color: #FEFEFE;
border: 1px solid whitesmoke;
padding-left: 20px;
}
@mixin category_name{
width: 360px;
background-color: #FEFEFE;
border: 1px solid whitesmoke;
padding-left: 20px;
}
.popular{
.popular_image{
margin-top: -3%;

}
.popular_title{
color:red;
font-size: 30px;
box-sizing: border-box;
position: relative;
bottom:100px;
}

}

.category{
display: flex;
margin-top: -62px;
.car{
.c_car{
@include category_name;
}

.car_name{
@include car_name
}
}
.suvs{

.c_suvs{
@include category_name;
}

.suvs_name{
@include car_name;
}
}
.buses{
.c_bus{
@include category_name;
}
.bus_name{
@include car_name;

}
}
.trucks{
.c_trucks{

@include category_name;
}
.truck_name{
@include car_name;
}
}
}

section{
height: 100vh
}

// car category page
.car_category{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
.detail{
width: 360px;
background-color: #FEFEFE;
border: 1px solid whitesmoke;
padding-left: 20px;
.category_name{
color:#F9A318;
font-size: 20px;
font-weight: bold;
border-bottom-style: solid;
border-bottom-width: 3.1px;
width: fit-content;

}
.car_name{
font-weight: bolder;
font-size: 17px;
color:black;
padding-top:10px;

}
.vehicle_condition{
font-size: 14px;
padding-top: 20px;

}

.details{
padding-top: 20px;
font-size:16px;
.detail{
color:#F9A318;
}

}
}

}
