// Place all the styles related to the vehicles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.popular{
.popular_image{

margin-top: -5%;
margin-right: auto;
margin-left: auto;
box-sizing: border-box;
max-width: 100%;
}

}